In [17]:
cd /content/drive/MyDrive/Colab Notebooks/Kaggle/store-sales

/content/drive/MyDrive/Colab Notebooks/Kaggle/store-sales

## [1] data load and preprocessing

In [18]:
import pandas as pd
import numpy as np

In [19]:
train = pd.read_csv("train.csv", index_col="id")
test = pd.read_csv("test.csv", index_col="id")

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000888 entries, 0 to 3000887
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         object
 1   store_nbr    int64
 2   family       object
 3   sales        float64
 4   onpromotion  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 137.4+ MB

In [21]:
# 컬럼명 받아서 datetime 바꿔주는 함수
def to_datetime(df:pd.DataFrame, col_name:str):
    import pandas as pd
    df[col_name] = pd.to_datetime(df[col_name])
    return df

In [22]:
train_dt = to_datetime(train, "date")
test_dt = to_datetime(test, "date")

In [24]:
# 컬럼명 받아서 연, 월, 주, 요일로 바꿔주는 함수
def make_date_columns(df:pd.DataFrame, col_name:str):
    df['year'] = df[col_name].dt.year
    df['month'] = df[col_name].dt.month
    df["week"] = df[col_name].dt.week
    df["day_of_week"] = df[col_name].dt.day_name()
    return df

In [26]:
train_dt_add = make_date_columns(train_dt, 'date')
test_dt_add = make_date_columns(test_dt, 'date')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

In [28]:
train_dt_add.head()

,date,store_nbr,family,sales,onpromotion,year,month,week,day_of_week
id,,,,,,,,,
0,2013-01-01,1,AUTOMOTIVE,0.0,0,2013,1,1,Tuesday
1,2013-01-01,1,BABY CARE,0.0,0,2013,1,1,Tuesday
2,2013-01-01,1,BEAUTY,0.0,0,2013,1,1,Tuesday
3,2013-01-01,1,BEVERAGES,0.0,0,2013,1,1,Tuesday
4,2013-01-01,1,BOOKS,0.0,0,2013,1,1,Tuesday