# 시계열 분석 (Time Series)
- 시간 ! : 특정 간격 갖는 시간 (Lag)
    - Lag 에서 Data의 Trend를 찾는다 !

- 일변량 정상시계열
    - ARIMA

- Trend : 추세
- Seasonality : 계절성
- Cycle : 주기
- Noise : 잡음 -> White Noise

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## [1] 데이터 확인

In [8]:
df1 = pd.read_csv("./Data/Data11.csv")

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803675 entries, 0 to 803674
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구매일     803675 non-null  object
 1   구매금액    803675 non-null  int64
 2   물품대분류   803675 non-null  object
dtypes: int64(1), object(2)
memory usage: 18.4+ MB

In [11]:
df1.head()

          구매일   구매금액 물품대분류
0  2018-04-20  57120   기저귀
1  2018-04-20  15900  더블하트
2  2018-04-20   7000  더블하트
3  2018-04-20  20900  더블하트
4  2018-05-06  26500  더블하트

In [14]:
df1.tail()

               구매일   구매금액 물품대분류
803670  2020-08-06  30960  더블하트
803671  2020-08-06   6640  더블하트
803672  2020-08-06   5600  더블하트
803673  2020-08-06   7840  더블하트
803674  2020-08-06   8500    기타

In [15]:
df1["Datetime"] = pd.to_datetime(df1["구매일"])

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803675 entries, 0 to 803674
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   구매일       803675 non-null  object
 1   구매금액      803675 non-null  int64
 2   물품대분류     803675 non-null  object
 3   Datetime  803675 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 24.5+ MB

In [18]:
df1["Datetime"].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

count                  803675
unique                    589
top       2019-10-11 00:00:00
freq                    10500
first     2018-04-20 00:00:00
last      2020-08-07 00:00:00
Name: Datetime, dtype: object